@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'),
    url('webfonts/roboto-v20-latin-300.woff2') format('woff2'),
    url('webfonts/roboto-v20-latin-300.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
    url('webfonts/roboto-v20-latin-300italic.woff2') format('woff2'),
    url('webfonts/roboto-v20-latin-300italic.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
    url('webfonts/roboto-v20-latin-regular.woff2') format('woff2'),
    url('webfonts/roboto-v20-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'),
    url('webfonts/roboto-v20-latin-italic.woff2') format('woff2'),
    url('webfonts/roboto-v20-latin-italic.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('webfonts/roboto-v20-latin-700.woff2') format('woff2'),
    url('webfonts/roboto-v20-latin-700.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
    url('webfonts/roboto-v20-latin-700italic.woff2') format('woff2'),
    url('webfonts/roboto-v20-latin-700italic.woff') format('woff');
}
